<!-- Header -->
<div layout="column">
  <div ng-cloak>
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools" >
          <!-- logo -->
          <h2>
            <span>Codify</span>
          </h2>
          <span flex></span>
          <span style="font-size: .8em">Welcome, {{userinfo.fullname}}!</span>
          <!-- menu button -->
          <md-menu md-offset="0 50">
            <md-button class="md-icon-button" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="../assests/list.svg"></md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="">
                  <div><a ui-sref="studentDashboard" style="text-decoration: none; color: #222">Student dashboard</a></div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="signOutUser()">
                  <div id="signOut">Sign Out</div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
    </md-content>
  </div><!-- close ng-cloak -->

  <div class="container" layout="row" layout-align="center" flex layout="vertical" layout-fill ng-cloak>
    <!-- Sidenav -->
    <!-- content -->
    <div flex="80" style="border-bottom: 1px solid #d9d9d9; ">
      <md-content ng-controller="tutorProfile">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="{{name}}'s profile">
            <!-- <md-content class="md-padding"> -->
            <md-content flex layout="row" layout-align="left">
              <!-- tutor profile -->
              <div flex="35" style="background-color:#363B3F; width: 40%; padding: 35px; color: #ccc; text-align: center">
                <img ng-src="{{img}}" style="width: 100px; border-radius:100%; margin: auto, 10px;" alt="image caption">

                <p style='font-weight: bold; font-size: 30px'>{{name}}</p>
                   <span> <ng-md-icon icon="location_on" size="18px"></ng-md-icon>{{loc}} </span>
                <p style="margin-top: 25px; font-size: 18px; padding: 0; text-align: left">{{bio}}</p>
              </div> 
              <!-- book session -->
              <div flex="65" style="margin-left: 100px">
                <div>
                  <p style="font-weight: bold; font-size: 20px; color: #585454"> Topics we can cover during the session </p>
                  <div style="height: 30px">
                    <span  ng-if='javascript===1'class="languages" style="background-color:#ccc; padding: 2px 5px; border-radius: 5px; font-size: 18px; color: #3C3636; margin-right: 10px;">Javascript</span>
                    <span ng-if='python===1'class="languages" style="background-color:#ccc; padding: 2px 5px; border-radius: 5px; color:#3C3636; font-size: 18px; margin-right: 10px;">Python</span>
                    <span ng-if='ruby===1'class="languages" style="background-color:#ccc; padding: 2px 5px; border-radius: 5px; color: #3C3636; font-size: 18px; margin-right: 10px;">Ruby</span>
                  </div>
                </div>
                <md-content layout="column" flex>
                  <div style="margin-top: 50px; margin-left: -8px">
                      <div class="dateTimeContent">
                        <md-button class="time" style="border: 2px solid orange; color: #585454; font-weight: bold;" ng-click="showTimePicker($event)" aria-label="show picker">Time</md-button>
                        
                      </div>
                      <div class="dateTimeContent">
                        <md-button class="date" style="border: 2px solid orange; color: #585454; font-weight: bold " ng-click="showDatePicker($event)" aria-label="show picker">Date</md-button>

                      </div>
                      <p style="height: 20px">
                         <span style ='font-weight: bold; padding-left: 35px'> {{ currentTime | date:'HH:mm' }} </span>  <span style ='margin-left: 58px; font-weight: bold'>{{ currentDate | date:'shortDate' }} </span>
                        </p>          
                  </div>
                  <div>       
                      <md-button  ng-disabled="isDisabledRequest" style="border: 2px solid orange; margin: 0; font-size: 20px; color: #585454; width: 45%; font-weight: bold; margin-bottom: 20px" class='request' ng-click="requestSession()">Request Session
                      </md-button>

                      <md-button style="border: 2px solid orange; float:right; font-size: 20px; color: #585454; font-weight: bold; width: 45%;" ng-hide="hidden" ng-disabled="isDisabled"><a style = 'text-decoration: none; color: #585454 ' ui-sref="session({link: item.id})">Start Session</a>

                       </md-button>
                       <p ng-model='picktime' style="color:red">{{picktime}}</p>
                  </div>     
                </md-content>
              </div>

            </md-content>
          </md-tab>
          <md-tab label="{{name}}'s reviews">
            <div layout="column">
              <!-- show if no review -->
              <div style="text-align: center; margin: 30px; font-size: 1.2em" ng-if="!reviews.length">
                <div style="margin: 30px">Tutor {{name}} has no review yet!</div>
                <md-button style="border: 2px solid orange" ng-click="reload()">Get Startet</md-button>
              </div>
              <!-- show if has reviews -->
              <div layout="rows" style="height: 180px; border: 1px solid #eee; width: 100%" ng-repeat="review in reviews" ng-if="reviews.length">
                <div flex="15" style="text-align: center; padding-top: 15px">
                  <img ng-src="{{review.imgurl}}" style="width: 100px; border-radius:100%; margin: auto, 10px" alt="image caption">
                  <p><ng-md-icon icon="location_on" size="18px"></ng-md-icon>{{review.location}}</p>
                </div>
                <!-- bio -->
                <div flex="85" >
                  <p>{{review.fullname}}</p>
                  <p style="margin-top: 20px; padding-right: 250px">{{tutor.bio}}</p>
                  <p>{{review.review}}</p>
                </div>
              </div>
            </div>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>


