<!-- Header -->
<div layout="column">
  <div ng-cloak>
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools" >
          <!-- logo -->
          <h2>
            <span>Codify</span>
          </h2>
          <span flex></span>
          <span style="font-size: .8em">Welcome, {{userinfo.fullname}}!</span>
          <!-- menu button -->
          <md-menu md-offset="0 50">
            <md-button class="md-icon-button" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="../assests/list.svg"></md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="">
                  <div><a ui-sref="studentDashboard" style="text-decoration: none; color: #222">Student dashboard</a></div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="">
                  <div>Profile</div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="signOutUser()">
                  <div id="signOut">Sign Out</div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
    </md-content>
  </div><!-- close ng-cloak -->

  <div class="container" layout="row" layout-align="center" flex layout="vertical" layout-fill ng-cloak>
    <!-- Sidenav -->
    <!-- content -->
    <div flex="80" style="border-bottom: 1px solid #d9d9d9; ">
      <md-content ng-controller="tutorProfile">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="{{name}}'s profile">
            <!-- <md-content class="md-padding"> -->
            <md-content flex layout="row" layout-align="left">
                <md-content flex="100" >
                  <div flex="85"  style='margin: 0; width: 80%; '>
                   <div style="background-color:#ccc; width: 35%; padding: 20px">
                    <img ng-src="{{img}}" style="width: 50%; border-radius:100%; margin: auto, 10px" alt="image caption">
                    
                    <p style='font-weight: bold; font-size: 30px; color:  #3A3636'>{{name}}</p>
                    <p style="margin-top: 30px; font-size: 18px; color: #3A3636">{{bio}}</p>
                    <span> <ng-md-icon icon="location_on" size="18px"></ng-md-icon>{{loc}} </span>
                   </div> 
                     <div style='position: absolute; top: 20px; left: 450px; width: 50%'>
                     <p style="font-weight: bold; font-size: 20px; padding: 2px 5px; border-radius: 5px; color: #585454"> Topics we can cover during the session </p>
                    <div layout-align='center'>
                      <span  ng-if='javascript===1'class="languages" style="background-color:#ccc; padding: 2px 5px; border-radius: 5px; font-size: 18px; color: #3C3636; margin-right: 10px;">Javascript</span>
                      <span ng-if='python===1'class="languages" style="background-color:#ccc; padding: 2px 5px; border-radius: 5px; color:#3C3636; font-size: 18px; margin-right: 10px;">Python</span>
                      <span ng-if='ruby===1'class="languages" style="background-color:#ccc; padding: 2px 5px; border-radius: 5px; color: #3C3636; font-size: 18px; margin-right: 10px;">Ruby</span>
                    </div>
                    <br>
                    <br>
                    <md-content layout="column" flex ng-controller="tutorProfile">
                      <div>
                        <div class="dateTimeContent" >
                          <md-button style="border: 2px solid orange; margin-left: 50px; margin-top: 30px; color: #585454; font-weight: bold" ng-click="showTimePicker($event)" aria-label="show picker">Time</md-button>
                          
                        </div>
                        <div class="dateTimeContent">
                          <md-button style="border: 2px solid orange; margin-left: 50px; margin-top: 30px; color: #585454; font-weight: bold " ng-click="showDatePicker($event)" aria-label="show picker">Date</md-button>

                        </div>
                        <p style="height: 20px">
                           <span style ='margin-left: 70px; font-weight: bold'> {{ currentTime | date:'HH:mm' }} </span>  <span style ='margin-left: 100px; font-weight: bold'>{{ currentDate | date:'shortDate' }} </span>
                          </p>
                          
                     </div>
                     
                    
                     
                        <md-button  ng-disabled="isDisabledRequest" style="border: 2px solid orange; margin: 0; font-size: 20px; color: #585454; width: 45%; font-weight: bold; margin-left: 45px;" ng-click="requestSession()">Request Session
                        </md-button>
                        <md-button style="border: 2px solid orange; float:right; font-size: 20px; color: #585454; font-weight: bold; width: 45%; margin-left: 45px;" ng-hide="hidden" ng-disabled="isDisabled"><a  style = 'text-decoration: none; color: #585454 ' ui-sref="session({link: item.id})">Start Session</a>
                         </md-button>
                      </div>

                    
                    </md-content>
                  </div>
                <!-- </md-content> -->
              </md-content>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
