
<div class='body'>
<div class="signIn" id='signin'>
<h1> sign in </h1>
<form>
  <md-input-container class="input">
    <label for="username">username</label>
    <input ng-model="signinUsername" name="username" required>
  </md-input-container>

  <md-input-container class="input">
    <label for="password">Password</label>
    <input type = 'password' ng-model="signinPassword" name="password"  required>
  </md-input-container>

  <md-button type="submit" ng-click="signin()" value="Login" id ='signInbtn'> sign in </md-button>
  <md-button type="submit" ng-click="cancel()" class="input" id = 'cancelSigin'> cancel</md-button>

</form>
</div>
</div>

